 html, body {
    height: 100%;
    /* overflow: hidden; */
 }

/* column {
    border: 2px solid purple;
} */ 

@media (min-width: 576px) {
    .raspberry-img {
        pointer-events: none;
    }
}

.content-row {
    background-color: #F08080;
}

column.offcanvas-sm {
    width: 200px !important;
}

.top-bar {
    background-color: #DB6C79;
    display: flex;
    justify-content: start;
    /* align-items: center; */
    color: white;
    height: 15vh;
    padding-left: 5%;
    padding-right: 5%;
}


column.left-bar {
    display: flex; 
    background-color: #F8AD9D !important;
    justify-content: start !important; 
    align-items: center;
    flex-direction: column;
}

.right-bar {
    background-color: #F08080;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.email-box {
    background-color: #DB6C79;
    height: 10%;
    width: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px #d13b4d;
}

.search-box {
    background-color: #DB6C79;
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sender-line, .subject-line, .content-box {
    background-color: #EFB6B6;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} 

.email-content-box {
    text-align: center;
    background-color: #E2D7D7;
    flex-direction: column;
}

.download-btn {
    border-radius: 5px !important;
    border: 1px solid #DB6C79 !important;
    background-color: #E2D7D7 !important;
    align-self: flex-end;
}

.download-btn:hover {
    background-color: #e6f1e1 !important;
}

.download-btn:active {
    background-color: #c1ffb6 !important;
}

.compose-btn {
    border-radius: 5px !important;
    border: 2px solid black !important;
    background-color: rgb(100, 177, 80) !important;
    color: white !important;
}

.search-bar {
    background-color: #EFB6B6;
}
